In [1]:
import psycopg2
import json #json lilbrary

In [2]:
def connectdb(db_name, user_name):
    try:
        db_conn = psycopg2.connect(dbname=db_name, user=user_name)
    except:
        print("Not able to connect to " + db_name)
    return db_conn

In [3]:
def db_cursor(db_conn):
    cursor = db_conn.cursor()  # open a cursor to perform db operations.
    return cursor

In [4]:
def execute(db_cursor, query):
    db_cursor.execute(query)

In [44]:
def create_table(db_cursor, table_name, column_and_type_list):
    create_table_query = "CREATE TABLE " + table_name + "(" + column_and_type_list + ");"
    execute(db_cursor, create_table_query)

In [22]:
def insert_into_table(db_cursor, table_name, column_names, values):
    insert_into_table_query = "INSERT INTO " + table_name + "(" + column_names + ") VALUES (" + values + ");"
    execute(db_cursor, insert_into_table_query)

In [62]:
def alter_table(db_cursor, table_name, action):
    alter_table_query = "ALTER TABLE "+ table_name + " " + action + ";"
    execute(db_cursor, alter_table_query)

In [10]:
def select_data(db_cursor, table_name, column_name, constraint):
    select_data_query = "SELECT " + column_name + " FROM " + table_name + " WHERE " + constraint + ";"
    execute(db_cursor, select_data_query)

In [38]:
def get_data_value(data,key):
    if(data.get(key)):
        return data[key]
    else:
        return ''

In [42]:
def main():
    dbname = "users"
    usr_name = "dwoodbridge"
    input_file_name = "../Data/user_1.json"
    
    table_name = "users"
    column_and_type_list = "id VARCHAR, age INTEGER, firstname VARCHAR, lastname VARCHAR, company VARCHAR, email VARCHAR, phone VARCHAR, address VARCHAR"
    
    id_key = "_id"
    age_key = "age"
    name_key = "name"
    firstname_key = "first"
    lastname_key = "last"
    company_key = "company"
    email_key = "email"
    phone_key = "phone"
    address_key = "address"
    
    with open(input_file_name, 'r') as input_file:
        data = json.load(input_file)

    db_conn = connectdb(dbname, usr_name)
    try:
        cursor = db_cursor(db_conn)

        create_table(cursor, table_name, column_and_type_list)

        #Insert Data
        for index,d in enumerate(data):
            id = get_data_value(d,id_key)
            age = get_data_value(d, age_key)
            firstname = get_data_value(get_data_value(d, name_key),firstname_key)
            lastname = get_data_value(get_data_value(d, name_key),lastname_key)
            company = get_data_value(d, company_key)
            email = get_data_value(d, email_key)
            phone = get_data_value(d, phone_key)
            address = get_data_value(d, address_key)

            insert_into_table(cursor, table_name, "id, age, firstname, lastname, company, email, phone, address", \
                              "\'" + id + "\'," + str(age) + ",\'" + firstname + "\',\'" + lastname + "\',\'" + company  + \
                              "\',\'" + email + "\',\'" + phone + "\',\'" + address + "\'")

        db_conn.commit() #make the changes to the db persistent.
        cursor.close()
        
    finally: #Always close the connection.
        db_conn.close()

In [63]:
def main_2():
    dbname = "users"
    usr_name = "dwoodbridge"
    input_file_name = "../Data/user_3.json"
    
    table_name = "users"
    action = "ADD COLUMN eyecolor VARCHAR"
    
    with open(input_file_name, 'r') as input_file:
        data = json.load(input_file)

    db_conn = connectdb(dbname, usr_name)
    try:
        cursor = db_cursor(db_conn)

        alter_table(cursor, table_name, action)

        id_key = "_id"
        age_key = "age"
        name_key = "name"
        firstname_key = "first"
        lastname_key = "last"
        company_key = "company"
        email_key = "email"
        phone_key = "phone"
        address_key = "address"
        eyecolor_key = "eyeColor"

        #Insert Data
        for index,d in enumerate(data):
            id = get_data_value(d,id_key)
            age = get_data_value(d, age_key)
            firstname = get_data_value(get_data_value(d, name_key),firstname_key)
            lastname = get_data_value(get_data_value(d, name_key),lastname_key)
            company = get_data_value(d, company_key)
            email = get_data_value(d, email_key)
            phone = get_data_value(d, phone_key)
            address = get_data_value(d, address_key)
            eyecolor = get_data_value(d, eyecolor_key)

            insert_into_table(cursor, table_name, "id, age, firstname, lastname, company, email, phone, address, eyecolor", \
                              "\'" + id + "\'," + str(age) + ",\'" + firstname + "\',\'" + lastname + "\',\'" + company  + \
                              "\',\'" + email + "\',\'" + phone + "\',\'" + address + "\',\'" + eyecolor + "\'")

        db_conn.commit() #make the changes to the db persistent.
        cursor.close()
    finally: #Always close the connection.
        db_conn.close()

In [64]:
if __name__==main():
    main()

ALTER TABLE users ADD COLUMN eyecolor VARCHAR;

ProgrammingError: column "eyecolor" of relation "users" already exists

In [55]:
    dbname = "users"
    usr_name = "dwoodbridge"
    input_file_name = "../Data/user_3.json"
    
    table_name = "users"
    action = "ADD COLUMN eyecolor VARCHAR"
    
    with open(input_file_name, 'r') as input_file:
        data = json.load(input_file)

    db_conn = connectdb(dbname, usr_name)

In [56]:
db_conn

In [57]:
cursor = db_cursor(db_conn)

In [58]:
cursor

In [59]:
cursor.execute()

In [61]:
cursor.execute("ALTER TABLE users ADD COLUMN eyecolor VARCHAR;")

InternalError: current transaction is aborted, commands ignored until end of transaction block